.aliresultbox{
font-size: 10px;
/* background-color: grey; */
text-align: center;
/* border:3px double grey; */


}

.alieven {
	width: 45%;
	border-spacing:5px; 
	border:thick solid #DF676B;
}

.aliodd {
	width: 45%;
	border-spacing:5px; 
	border:thick solid #518753;
}

.alicenter {
	vertical-align:top;
	
	text-align: center;
	border-top-width: 2px;
	font-size: x-small;
	cursor:s-resize;
}


.alipopup {
/* position: fixed; */
position: absolute; 
bottom: 0; 
left: 4;  
z-index: 9000; 
text-decoration: none; 
visibility:hidden;
/* background-color:#4F4C6B; */
background-color:transparent;
/* border:1px solid #ffffee; */
border:1px solid #4F4C6B;
width:99%
}

.alipar {
visibility:hidden;
}


.alipopuptitle {
border:0px;
color:black;
font-size: x-small;
background-color: white;
opacity: 0.8;
font-weight: bold;
}

.alipopuptable {
font-size: x-small;
color:black;
background-color: #D0D8AE;
opacity: 0.95;
width:50%;
}

.aligray {
color:gray;
}

.alisq {
font-size:10px;
word-spacing:0mm;
letter-spacing:0mm;
cursor: pointer;
color:black;
}

.alisqtd {
cursor: default; 
text-align:center;
width:17%;
}
.alisqm {
background-color: #89C496;
}

.alisql {
background-color: #CAFDCB;
}
.alisqr {
background-color: #CAFDCB;
}

.alisqp {
color:#2828C9;
}

.alisqn {
color:brown;
}

.aliresults {
cursor: default; 
text-align:center;
/* width:80%; */
border:thin solid #ddd; 

font-size:12px; 
margin-right:5px;
margin-left:5px;
margin-top:3px;
/* margin-bottom:5px; */
padding:5px;
}

.alibutton{
border:thin solid white; 
border-spacing:10px;  
width:100%;
font-size:12px; 
font-family:Verdana,sans-serif;
height:20px;
cursor: pointer;
}

.aliminibutton{
border:thin solid white; 
/* border-spacing:10px;   */
font-size:9px; 
font-family:Verdana,sans-serif;
height:17px;
cursor: pointer;
}

.cogn {

background-color:#00ff00;
color:#4F4C6B;

}


#t{
/* don't touch!!! */
}

#t.ajax-loading{
	
	padding: 20px 0;
	background: url(images/spinner.gif) no-repeat center;
	min-height:80px;
}



html, body
{ 
	top:170; left:0; right:0;
	
	margin:0;
	padding:0;
	width:100%;
}

/* Nun für den MSIE */
/*
* html, * html body 
{
	overflow:hidden;
	bottom:0;
	height:100%;
}
* html #header_container, * html #footer_container
{
	position:absolute;
	width:100%;
	padding-right:16px;
}

* html #header,* html #footer
{
	height:100%;
	position:static;
}
* html #content 
{
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	height:100%;
	width:100%;
	overflow:auto;
	margin:0;
}*/



a:link, a:visited{
text-decoration: none;
color:#D0D8AE;
}

a:hover{
	text-decoration: underline;
	color:#FFFFFF;
	background-repeat: no-repeat;
	background-image: url("images/alignator.gif");
}




h1 {
background-color:#5C586C; 
margin-bottom:7px; 
height: 35px;
line-height:54px;
background-repeat: no-repeat;
background-image: url("images/alignator.gif");
color:#fff; 
font-family: Arial, Helvetica, sans-serif;	
font-weight: bold;
font-size: 18px;
padding:1px;
}

.bottomline{
margin-bottom:2px; 

}


	
form { padding:10px; border:6px solid #999; /*margin-right:7px;*/}

td, input, select, textarea { font-size:14px; font-family:Verdana,sans-serif;  }

input, select { color:#0b1;    font-weight: bold;}

input a:hover{text-decoration: underline;}



.info { font-size: small;color:#D0D8AE;
background-color:#5C586C; 
line-height: 18px;
color:#fff; 
font-family: Arial, Helvetica, sans-serif;	
border:0px solid white;
padding:2px;
font-size: 11px;
text-align:center;

}
.emptyinfo{
background-color:white; border:0px solid white;width:1px;
}


.row{
	color:#060008;
	text-align: center;
/* 	cursor: pointer; */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	
	line-height: 18px;
	font-size: 16px;	
}
.row a:link,visited {color: #060008;  text-decoration: none;}
.row a:link,active {color: #060008;  text-decoration: none;}
.row a:hover{text-decoration: underline;}




.lang {

position: absolute; 
top: 0; 
right: 4;  
color:white;
text-decoration: none; 

}



/*.rowover{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #B58C94;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	line-height: 18px;
	font-size: 16px;
}

.rowopen{
	border: 1px solid #B58C94;
}*/
